
# PageSpeed
![alt text](pagespeed.png)
# Wave
![alt text](wave.png)
### This evaluation shows 0 accessibility errors with 2 informational alerts related to external link and html5 video tag which does not represent a critical issue. In Pagespeed, it shows the performance score 50 as it depends on images or videos or any external resources which can increase loading time.

